#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: .5rem;
  text-align: center;
}

.logo {
  height: 50em;
  max-height: 40vh;
  /* padding: 1.5em; */
  will-change: filter;
  transition: filter 300ms;
}

.donate-logo {
  height: 50em;
  max-height: 55vh;
  /* padding: 1.5em; */
  will-change: filter;
  transition: filter 300ms;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.card-button {
  background-color:#888;
  font-size:3vh;
}

.donate-button {
  background-color:slategray;
  width: 100%;
}
.read-the-docs {
  color: #888;
}

p {
  font-size: 3vh;
}